.demo-chart{
    width: 100%;
    height: 100%;
}
.panel.panel-default{
    border-top-width:1px;
}
.fieldsetdnn {
  padding-bottom: 5px;
  border-bottom: 1px dashed #eee;
  padding-top: 5px;
}
.ui-widget{
    width: 100%;
}
.inputw{
    width: 47.8%;
    display: initial;
}
.content-heading{
    margin-bottom: 0px;
}