<div class="content-heading">
  <em class="fa fa-list-alt">每日价格统计表</em>
  <div class="pull-right">
    <button class="btn btn-info btn-bloc" type="button" (click)="openquery()">查询</button>
    <button type="button" (click)="agExport()"  class="btn btn-info btn-bloc">导出</button>
    <button class="btn btn-info btn-bloc" type="button" (click)="addpricewindow()">添加</button>
  </div>
</div>
<ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 209)+'px'}" #agGrid style="width: calc(100% + 40px);height:100%;margin:0 -20px;"
  class="ag-blue" [gridOptions]="gridOptions">
</ag-grid-angular>

<div class="modal" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">查询</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">开始日期</label>
              <div class="col-sm-9">
                <p-calendar [(ngModel)]="search['sdate']" placeholder="请输入日期" ></p-calendar>
              </div>
            </div>
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">结束日期</label>
              <div class="col-sm-9">
                <p-calendar [(ngModel)]="search['edate']" placeholder="请输入日期" ></p-calendar>
              </div>
            </div>
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">品名</label>
              <div class="col-sm-9">
                <input (click)="mdmgndialog.show()" [(ngModel)]="search['gn']" class="form-control" placeholder="请选择品名" readonly>
              </div>
            </div>
            <div class="row fieldsetdnn" >
              <label class="col-sm-3 control-label">产地</label>
              <div class="col-sm-9">
                <p-dropdown [options]="chandioptions" [disabled]="!search['gn']" [(ngModel)]="search['chandi']" [style]="{'width':'100%'}"></p-dropdown>
              </div>
            </div>
            <!-- <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">品名产地</label>
              <div class="col-sm-9">
                <ng-select [allowClear]="true" [items]="gnchandis" (selected)="selectegangchang($event)"
                  placeholder="请选择产地">
                </ng-select>
              </div>
            </div> -->

          </div>
          <div class="form-bottom text-center">
            <button type="button" class="btn btn-primary btn-large" (click)="query()">查询</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" bsModal #priceAddModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" aria-label="Close" (click)="closepricewindow()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">每日销售价格登记</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default" style="overflow:'inherit'">

          <div class="panel-body">
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">日期：</label>
              <div class="col-sm-9 wiskind-calendar">
                <p-calendar [(ngModel)]="params['cdate']" placeholder="请输入日期" ></p-calendar>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 text-center">
                <label class="col-sm-12 control-label form-control-static">品名产地</label>
              </div>
              <div class="col-sm-3 text-center">
                <label class="col-sm-12 control-label form-control-static">价格</label>
              </div>
              <div class="col-sm-3 text-center">
                <label class="col-sm-12 control-label form-control-static">操作</label>                
              </div>
              <div class="col-sm-3 text-center">         
                <label class="col-sm-12 control-label form-control-static">
                  <span *ngIf="!isshowInput" class="label label-info" (click)="showInput()">插入价格</span>
                  <span *ngIf="isshowInput" class="label label-info" (click)="showInput()">取消插入</span>
                </label>
              </div>
            </div>

            <div class="row fieldsetdnn" *ngFor="let item of mygnchandis">
              <div class="col-sm-4 text-center">
                <span>
                  {{item.gnchandi}}
                </span>
              </div>
              <div class="col-sm-4 text-center">
                <span>{{item.price}}</span>
              </div>
              <div class="col-sm-4 text-center">
                <span style="padding-left: 40px" (click)="deletegnchandi(item.chandiid)">
                  <a>删除</a>
                </span>
              </div>
            </div>
              
            <div class="row fieldsetdnn" *ngIf="isshowInput">
              <div class="col-sm-5">
                <ng-select [allowClear]="true" [items]="gnchandis" (selected)="selectegangchang($event)"
                  placeholder="请选择产地">
                </ng-select>
              </div>
              <div class="col-sm-5">
                <input type="number" style="display:inline-block;width:95%;" class="form-control"
                [(ngModel)]="params['price']"  />
              </div>
              <div class="col-sm-2 text-center">
                <button type="button" (click)="addpricetodb()" class="btn btn-primary btn-large">添加价格</button>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="form-inline text-center">
          <div class="form-inline text-center">
            <button type="button" (click)="closepricewindow()" class="btn btn-primary btn-large">关闭</button>
            <button type="button" (click)="ceateModel()" class="btn btn-primary btn-large">保存</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 品名选择弹窗 -->
<div class="modal" bsModal #mdmgndialog="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" aria-label="Close" (click)="mdmgndialog.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">物料分类码表报表</h4>
      </div>
      <app-mdmselectgn (select)="selectgn($event)"></app-mdmselectgn>
    </div>
  </div>
</div>
<toaster-container ></toaster-container>