<div class="content-heading">
  <em class="fa fa-list-alt"></em> 加工登记单
</div>

<div class="panel panel-default" *ngIf="singleData">
  <table class="table table-striped" [mfData]="singleData" #mf="mfDataTable" [mfActivePage]="search['pagenum']" [mfRowsOnPage]="search['pagesize']">
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td class="row" style="width:100%;">
          <div class=" col-lg-2 col-md-3 col-sm-6 form-control-static">
            <label>编号:</label>
            <a [routerLink]="['/produce', item.id]">{{item.billno}}</a>
          </div>
          <div class=" col-lg-2 col-md-3 col-sm-6 form-control-static">
            <label>加工单位:</label> {{item.jgdw | customer}}
          </div>
          <div class=" col-lg-2 col-md-2 col-sm-6 form-control-static">
            <label>客户单位:</label> {{item.buyer | customer}}
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6 form-control-static">
            <label>日期:</label> {{item.cdate}}
          </div>
          <div class=" col-lg-2 col-md-3 col-sm-6 form-control-static">
            <label>是否审核:</label> {{item.isv| isTranslated}}
          </div>
          <div class=" col-lg-2 col-md-3 col-sm-6 form-control-static">
            <label>制单人:</label> {{item | agentuser}}
          </div>
          <div class=" col-lg-2 col-md-3 col-sm-6 form-control-static">
            <label>备注:</label> {{item.beizhu}}
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="totalItems>search['pagesize']">
      <tr>
        <td colspan="10">
          <pagination class="pagination-md" [totalItems]="totalItems" [maxSize]="8" [(ngModel)]="currentPage" [rotate]="true" previousText="上一页"
            nextText="下一页" firstText="首页" lastText="尾页" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
          <!-- <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator> -->
        </td>
      </tr>
    </tfoot>
  </table>
</div>
