<div class="content-heading">
  <em class="fa fa-list-alt"></em> 订单加工费管理{{msg['msg']}}
  <div class="pull-right wide-show">
    <button type="button" (click)="impyunfee()" class="btn btn-info btn-bloc">导出</button>
    <button type="button" (click)="addyunfee()" class="btn btn-info btn-bloc">添加加工费</button>
    <button type="button" (click)="saveandsubmit()" class="btn btn-info btn-bloc">提交订单</button>
  </div>
  <div class="pull-right narrow-show">
    <div class="btn-group" dropdown placement="bottom right">
      <button dropdownToggle type="button" class="btn btn-info dropdown-toggle">菜单
        <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem">
          <a class="dropdown-item" (click)="impyunfee()">导出</a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="addyunfee()">添加加工费</a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="saveandsubmit()">提交订单</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 209)+'px'}" #agGrid style="width: calc(100% + 40px);height:100%;margin:0 -20px;"
  class="ag-blue" [gridOptions]="gridOptions">
</ag-grid-angular>

<toaster-container></toaster-container>

<!--添加加工费弹窗-->
<div class="modal" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="coles()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">添加加工费</h4>
      </div>
      <form id=formId (ngSubmit)="submitYunfee()">
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-group mb fieldsetdnn col-sm-12 col-md-6">
                <label class="col-sm-4 control-label">加工费单价</label>
                <div class="col-sm-8">
                  <input type="text" name="peryunprice" [(ngModel)]="feeModel['pprice']" class="form-control" (blur)="calcpjine()"
                    placeholder="请输入加工费单价"/>
                </div>
              </div>
              <div class="form-group mb fieldsetdnn col-sm-12 col-md-6">
                <label class="col-sm-4 control-label">加工费总价</label>
                <div class="col-sm-8">
                  <input type="text" name="tprice" [(ngModel)]="feeModel['pjine']" class="form-control" (blur)="calcpprice()" placeholder="请输入加工费总价"/>
                </div>
              </div>
              <div class="form-group mb fieldsetdnn col-sm-12 col-md-6">
                <label class="col-sm-4 control-label">加工单位</label>
                <div class="col-sm-8">
                  <wis-feecompanysearch name="companyOfYun" [(company)]="companyOfYun"></wis-feecompanysearch>
                </div>
              </div>
              <div class="form-group mb fieldsetdnn col-sm-12 col-md-6">
                <label class="col-sm-4 control-label">备注</label>
                <div class="col-sm-8">
                  <input type="text" name="备注" class="form-control" [(ngModel)]="feeModel['pbeizhu']"/>
                </div>
              </div>
            </div>
          </div>
          <div class="form-inline text-center">
            <button type="button" (click)="selectNull()" class="btn btn-info btn-large">重选</button>
            <button type="submit" class="btn btn-primary btn-large">添加</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
