<div class="modal-header" style="font-size: 18px;">
  <em class="fa fa-list-alt"></em> 选择固定路线
  <div class="pull-right">
    <button type="button" class="btn btn-info btn-bloc" (click)="showquerymodel()" style="margin-right:10px;">查询</button>
    <button type="button" class="btn btn-info btn-bloc" (click)="confirm()" style="margin-right:10px;">确定</button>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
  <ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 160)+'px'}" #agGrid style="width: 100%;height:100%;margin:0;"
    class="ag-blue" [gridOptions]="gridOptions">
  </ag-grid-angular>
</div>
<div class="modal-footer">
  <div class="form-inline text-center">
  </div>
</div>
<!--查询弹窗-->
<div class="modal" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideclassicModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">查询运费</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default ">
          <div class="row">
            <div class="panel-body">
              <div class="form-group mb fieldsetdnn col-sm-12">
                <label class="col-sm-3 control-label">起始地</label>
                <div class="col-sm-9">
                  <input placeholder="请输入关键字" [(ngModel)]="yunfeeModel['startarea']" class="form-control" />
                </div>
              </div>
              <div class="form-group mb fieldsetdnn col-sm-12">
                <label class="col-sm-3 control-label">目的地</label>
                <div class="col-sm-9">
                  <input placeholder="请输入关键字" [(ngModel)]="yunfeeModel['endarea']" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-inline text-center">
          <div class="form-inline text-center">
            <button type="button" (click)="query()" class="btn btn-primary btn-large">查询</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

