.fieldsetdnn {
  padding-bottom: 5px;
  border-bottom: 1px dashed #eee;
  padding-top: 5px;
}

.form-group.mb {
  padding-bottom: 5px;
  padding-top: 5px;
}

.viewpanelhead {
  background-color: #ffffff;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-color: #cfdbe2;
  border-top-width: 3px;
}

.form-control-static {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 7px;
}

.viewpanel {
  background-color: #ffffff;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-color: #cfdbe2;
}

.fieldsetdnn .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 7px;
}

.form-bottom {
  margin-top: 20px;
}

.form-inline {
  margin-bottom: 20px;
}

.ui-widget {
  width: 100%;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  width: 100%;
}

.panel.panel-default {
  border-top-width: 1px;
}

.wid100 {
  width: 600px;
}

.content-heading {
  margin-bottom: 0px;
}
