@import '../../../shared/styles/app/variables.scss';
@import '../../../shared/styles/app/media-queries.scss';

.home-container {
    margin: 0 auto;
    max-width: $container-md;

    .home-logo {
        width: 240px;
    }

    .home-text {
        @media only screen and (max-width: $mq-tablet) {
            text-align: center;
        }
    }
}

.carousel-caption{
    top: 30%;
}

.carousel-caption img{
    width: 100px;
    height: 100px;
}

.img-responsive{
    width: 100%;
    // height: 100%;
}

.mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.image-home-slide1{
    width: 100%;
    height: 800px;
    -webkit-animation:sliderzoom linear 40s infinite alternate;
    background-image: url(/assets/img/placeholders/intro-slide02.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.image-home-slide2{
    width: 100%;
    height: 800px;
    -webkit-animation:sliderzoom linear 40s infinite alternate;
    background-image: url(/assets/img/placeholders/intro-slide04.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.image-home-slide3{
    width: 100%;
    height: 800px;
    -webkit-animation:sliderzoom linear 40s infinite alternate;
    background-image: url(/assets/img/placeholders/intro-slide03.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.image-home-slide4{
    width: 100%;
    height: 800px;
    -webkit-animation:sliderzoom linear 40s infinite alternate;
    background-image: url(/assets/img/placeholders/intro-slide01.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
} 
@-webkit-keyframes sliderzoom {
	from {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1)
	}

	to {
		-webkit-transform: scale(1.4);
		-moz-transform: scale(1.4);
		-ms-transform: scale(1.4);
		-o-transform: scale(1.4);
		transform: scale(1.4)
	}
}

