<div class="content-heading">
  <em class="fa fa-list-alt"></em> 个别计价成本表
  <div class="pull-right">
      <button type="button" (click)="openquery()" class="btn btn-info btn-bloc">查询</button>
      <button type="button" (click)="checkdatashow()" class="btn btn-info btn-bloc">核对数据</button>
  </div>
</div>

<ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 209)+'px'}" #agGrid
  style="width: calc(100% + 40px);height:100%;margin:0 -20px;" class="ag-blue" [gridOptions]="gridOptions">
</ag-grid-angular>

<toaster-container></toaster-container>
<!--查询对话框-->
<div class="modal" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">查询</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="row fieldsetdnn">
              <label class="col-md-4 control-label">月份</label>
              <div class="col-md-8 wiskind-calendar">
                <wisk-yearmonthselect (select)="selectmonth($event)"></wisk-yearmonthselect>
              </div>             
            </div>

          </div>
          <div class="form-bottom text-center">
            <button type="button" (click)="selectNull()" class="btn btn-info btn-large">重选</button>
            <button type="button" class="btn btn-primary btn-large" (click)="search()">查询</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--数据核对话框-->
<div class="modal" bsModal #checkdataModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" aria-label="Close" (click)="checkdataclose()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">数据核对</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="row">
              <div class="col-sm-3 text-center">
                <label class="col-sm-12 control-label form-control-static">核查项</label>
              </div>
              <div class="col-sm-3 text-center">
                <label class="col-sm-12 control-label form-control-static">成本表数据</label>
              </div>
              <div class="col-sm-3 text-center">
                <label class="col-sm-12 control-label form-control-static">核对数据</label>
              </div>
              <div class="col-sm-3 text-center">
                <label class="col-sm-12 control-label form-control-static">是否匹配</label>
              </div>
            </div>

            <div class="row fieldsetdnn" *ngFor="let item of checkdata">
              <div class="col-sm-3 text-center">
                <span>
                  {{item.name}}
                </span>
              </div>
              <div class="col-sm-3 text-center">
                <span>{{item.onechengben}}</span>
              </div>
              <div class="col-sm-3 text-center">
                <span>{{item.checkdata}}</span>
              </div>
              <div class="col-sm-3 text-center">
                <span> </span>
              </div>

            </div>

          </div>
          <div class="form-bottom text-center">
            <!-- <button type="button" (click)="selectNull()" class="btn btn-info btn-large">重选</button>
            <button type="button" class="btn btn-primary btn-large" (click)="search()">查询</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>