<div class="content-heading">
  <em class="fa fa-list-alt"></em> 涉税个别计价成本表
  <div class="pull-right">
      <button type="button" (click)="openquery()" class="btn btn-info btn-bloc">查询</button>
      <button *ngIf="isadmain" type="button" (click)="checkdatashow()" class="btn btn-info btn-bloc">生成数据</button>
  </div>
</div>

<ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 209)+'px'}" #agGrid
  style="width: calc(100% + 40px);height:100%;margin:0 -20px;" class="ag-blue" [gridOptions]="gridOptions">
</ag-grid-angular>

<toaster-container></toaster-container>
<!--查询对话框-->
<div class="modal" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">查询</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="form-group mb fieldsetdnn col-sm-12 col-md-6">
              <label class="col-sm-3 control-label">创建开始时间</label>
              <div class="col-sm-9  wiskind-calendar">
                <p-calendar [(ngModel)]="orderstart" placeholder="开始时间" [maxDate]="end"></p-calendar>
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12 col-md-6">
              <label class="col-sm-3 control-label">创建结束时间</label>
              <div class="col-sm-9  wiskind-calendar">
                <p-calendar [(ngModel)]="orderend" placeholder="结束时间" [maxDate]="maxDate"></p-calendar>
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12 col-md-6">
              <label class="col-sm-2 control-label">公司</label>
              <div class="col-sm-10">
                <app-wiskinnercompany (wiskindcompany)="innercompany($event)"></app-wiskinnercompany>
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12 col-md-6">
              <label class="col-sm-3 control-label">kucunid</label>
              <div class="col-sm-9">
                <input type="text" name="busername" class="form-control" [(ngModel)]="requestparams['kucunid']" />
              </div>
            </div>

          </div>
          <div class="form-bottom text-center">
            <button type="button" (click)="selectNull()" class="btn btn-info btn-large">重选</button>
            <button type="button" class="btn btn-primary btn-large" (click)="search()">查询</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--数据核对话框-->
<div class="modal" bsModal #checkdataModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="checkdataclose()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">生成数据</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="form-group mb fieldsetdnn col-sm-12 col-md-6">
              <label class="col-sm-3 control-label">创建开始时间</label>
              <div class="col-sm-9  wiskind-calendar">
                <p-calendar [(ngModel)]="orderstart" placeholder="开始时间" [maxDate]="end"></p-calendar>
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12 col-md-6">
              <label class="col-sm-3 control-label">创建结束时间</label>
              <div class="col-sm-9  wiskind-calendar">
                <p-calendar [(ngModel)]="orderend" placeholder="结束时间" [maxDate]="maxDate"></p-calendar>
              </div>
            </div>

          </div>
          <div class="form-bottom text-center">
            <button type="button" (click)="selectNull()" class="btn btn-info btn-large">重选</button>
            <button type="button" class="btn btn-primary btn-large" (click)="getcheckdata()">生成</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>