.ui-widget {
  width: 100%;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  width: 100%;
}

.panel.panel-default {
  border-top-width: 1px;
  overflow: auto;
}

.wid100 {
  width: 600px;
}

.content-heading {
  margin-bottom: 0px;
}

.wis-auto {
  width: calc(100% + 40px);
  margin: 0 -20px; // overflow: auto;
}

//调拨单tab标签页
.fieldsetdnn {
  padding: 5px 30px;
  border-bottom: 1px dashed #eee;
}

.form-control-static {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*水平方向盒子*/
.row-flex {
	display:-webkit-box;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -moz-box-orient:horizontal;
    -moz-box-direction:normal;
    flex-direction:row;
    flex-flow:row;
    -webkit-flex-direction:row;
    /* flex-wrap:wrap;
    -webkit-flex-wrap:wrap; */
	box-sizing:border-box;
}
.flex-aligns {
	-webkit-align-content:center;
	align-items:center;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
}
