<div class="content-heading">
  <em class="fa fa-list-alt"></em> 劳尔色号对照表
  <div class="pull-right">
      <button type="button" (click)="showaddmodal()"  class="btn btn-info btn-bloc">添加</button>
      <button type="button" (click)="query()"  class="btn btn-info btn-bloc">查询</button>
  </div>
</div>

<ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 239)+'px'}" #agGrid  style="width: calc(100% + 40px);height:100%;margin:0 -20px;" class="ag-blue" [gridOptions]="gridOptions">
</ag-grid-angular>

<toaster-container></toaster-container>

<div class="modal" bsModal #addModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeaddModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">添加</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">劳尔色号</label>
              <div class="col-sm-9">
                <input [(ngModel)]="params['laoercolor']" class="form-control" placeholder="请输入劳尔色号">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-inline text-center">
          <div class="form-inline text-center">
            <button type="button" (click)="add()" class="btn btn-primary btn-large">添加</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">查询</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">劳尔色号</label>
              <div class="col-sm-9">
                <input [(ngModel)]="search['laoercolor']" class="form-control" placeholder="请输入劳尔色号">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-inline text-center">
          <div class="form-inline text-center">
            <button type="button" (click)="querylist()" class="btn btn-primary btn-large">查询</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
