.fieldsetdnn {
    padding: 10px;
    border-bottom: 1px dashed #eee;
    margin-left: 5px!important;
    margin-right: 5px!important;
}
.selecttr{
    background-color: #47c3e9!important;
    color:#fff!important;
}