<div class="content-heading">
  <em class="fa fa-list-alt"></em> 付款计划表
  <div class="pull-right">
    <button type="button" (click)="showcreate()" class="btn btn-info btn-bloc">新建付款计划</button>
    <button type="button" (click)="showquery()" class="btn btn-info btn-bloc">查询</button>
  </div>
</div>
<ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 209)+'px'}" #agGrid
  style="width: calc(100% + 40px);height:100%;margin:0 -20px;" class="ag-blue" [gridOptions]="gridOptions">
</ag-grid-angular>
<toaster-container></toaster-container>
<!-- 创建对话框 -->
<div class="modal" bsModal #createModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closecreate()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">新建</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">品名</label>
              <div class="col-sm-9">
                <input (click)="mdmgndialog.show()" [(ngModel)]="payjihua['gn']" class="form-control" placeholder="请选择品名" readonly>
              </div>
            </div>
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">产地</label>
              <div class="col-sm-9">
                <p-dropdown [options]="chandioptions" [disabled]="!payjihua['gn']" [(ngModel)]="payjihua['chandi']" [style]="{'width':'100%'}" [filter]="true"></p-dropdown>
              </div>
            </div>
            <!-- <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">品名</label>
              <div class="col-sm-9 wiskind-calendar">
                <p-dropdown [options]="gns" (onChange)="selectedgn($event.value)" placeholder="选择品名" [filter]="true"
                  [(ngModel)]="payjihua['gnid']" [style]="{'width': '100%'}">
                </p-dropdown>
              </div>
            </div>
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">产地</label>
              <div class="col-sm-9 wiskind-calendar">
                <p-dropdown [options]="chandis" placeholder="选择产地" [(ngModel)]="payjihua['chandiid']" [filter]="true"
                  [style]="{'width': '100%'}">
                </p-dropdown>
              </div>
            </div> -->
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">机构</label>
              <div class="col-sm-9">
                <wisk-orglist [(org)]="payjihua['sorgid']"></wisk-orglist>
              </div>
            </div>
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">付款月份</label>
              <div class="col-sm-9 wiskind-calendar">
                <wisk-yearmonthselect (select)="selectmonth($event)"></wisk-yearmonthselect>
              </div>
            </div>
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">计划订货量</label>
              <div class="col-sm-9">
                <input type="text" name="beizhu" class="form-control" [(ngModel)]="payjihua['jihuaweight']">
              </div>
            </div>
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">计划付款金额</label>
              <div class="col-sm-9">
                <input type="text" name="beizhu" class="form-control" [(ngModel)]="payjihua['jihuapayjine']">
              </div>
            </div>
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">付款要求</label>
              <div class="col-sm-9">
                <input type="text" name="beizhu" [(ngModel)]="payjihua['beizhu']" class="form-control">
              </div>
            </div>


          </div>
        </div>
        <div class="form-inline text-center">
          <button type="button" (click)="create()" class="btn btn-primary btn-large">创建</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 更新对话框 -->
<div class="modal" bsModal #updateModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeupdate()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">修改</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">品名</label>
              <div class="col-sm-9 wiskind-calendar">
                <input type="text" name="beizhu" class="form-control" [(ngModel)]="payjihua['gn']" disabled="true">
              </div>
            </div>
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">产地</label>
              <div class="col-sm-9 wiskind-calendar">
                <input type="text" name="beizhu" class="form-control" [(ngModel)]="payjihua['chandi']" disabled="true">
              </div>
            </div>
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">付款月份</label>
              <div class="col-sm-9 wiskind-calendar">
                <input type="text" name="beizhu" class="form-control" [(ngModel)]="payjihua['month']" disabled="true">
              </div>
            </div>
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">机构</label>
              <div class="col-sm-9 wiskind-calendar">
                <input type="text" name="beizhu" class="form-control" [(ngModel)]="payjihua['sorg']['name']" disabled="true">
              </div>
            </div>
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">计划订货量</label>
              <div class="col-sm-9">
                <input type="text" name="beizhu" class="form-control" [(ngModel)]="payjihua['jihuaweight']">
              </div>
            </div>
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">计划付款金额</label>
              <div class="col-sm-9">
                <input type="text" name="beizhu" class="form-control" [(ngModel)]="payjihua['jihuapayjine']">
              </div>
            </div>
            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">付款要求</label>
              <div class="col-sm-9">
                <input type="text" name="beizhu" [(ngModel)]="payjihua['beizhu']" class="form-control">
              </div>
            </div>


          </div>
        </div>
        <div class="form-inline text-center">
          <button type="button" (click)="updatePayjihua()" class="btn btn-primary btn-large">修改</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 查询对话框 -->
<div class="modal" bsModal #queryModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closequery()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">查询</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">付款月份</label>
              <div class="col-sm-9 wiskind-calendar">
                <wisk-yearmonthselect (select)="selectquerymonth($event)"></wisk-yearmonthselect>
              </div>
            </div>

          </div>
        </div>
        <div class="form-inline text-center">
          <button type="button" (click)="query()" class="btn btn-primary btn-large">查询</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 品名选择弹窗 -->
<div class="modal" bsModal #mdmgndialog="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" aria-label="Close" (click)="mdmgndialog.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">物料分类码表报表</h4>
      </div>
      <app-mdmselectgn (select)="selectgn($event)"></app-mdmselectgn>
    </div>
  </div>
</div>
