.panel.panel-default{
    border-top-width:1px;
}
// .panel.panel-default {
//     margin-left: -15px;
//     margin-right: -15px;
// }
.content-heading{
    margin-bottom: 0px;
}
@media only screen and (min-width: 768px){
    // .panel.panel-default {
    //     margin-left: -20px;
    //     margin-right: -20px;
    // }
    .content-heading{
        margin-bottom: 0px;
    }
}