<div class="button-toolbar clearfix mb">
  <div class="btn-group">
    <h4>
      <em class="fa fa-book"></em>差价调整记录明细</h4>
  </div>
  <font *ngIf="isv" color="red">单击差价列进行编辑价格差</font>
  <div class="pull-right ml-lg">
    <span *ngIf="isv">
      <button class="btn btn-info btn-bloc" type="button" (click)="save()">提交</button>
    </span>
    <!-- <span *NgOpera="165">
      <button *ngIf="!pricelogmodel['isv']" class="btn btn-info btn-bloc" type="button" (click)="auditprice()">同意</button>
    </span>
    <span *NgOpera="163">
      <button *ngIf="!pricelogmodel['isv']" class="btn btn-info btn-bloc" type="button" (click)="notagree()">不同意</button>
    </span> -->
    <button class="btn btn-info btn-bloc" type="button" (click)="back()">返回</button>
  </div>
</div>

<!-- <form dnn-mainpanel method="get" action="/" class="panel panel-default wis-auto"> -->
<div class="panel panel-default wis-auto">
  <div class="row ">
    <div class="col-lg-3 col-md-6 fieldsetdnn">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">调价编号：</div>
        <div class="col-md-8 col-xs-6 form-control-static">{{pricelogmodel['billno']}}</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 fieldsetdnn">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">是否审核：</div>
        <div class="col-md-8 col-xs-6 form-control-static">{{pricelogmodel['isv'] | isTranslated}}</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 fieldsetdnn">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">是否删除：</div>
        <div class="col-md-8 col-xs-6 form-control-static">{{pricelogmodel['isdel'] | isTranslated}}</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 fieldsetdnn">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">版本：</div>
        <div class="col-md-8 col-xs-6 form-control-static">{{pricelogmodel['version']}}</div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-lg-3 col-md-6 fieldsetdnn">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">创建人：</div>
        <div class="col-md-8 col-xs-6 form-control-static">{{pricelogmodel['cuser']['realname']}}</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 fieldsetdnn">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">创建时间：</div>
        <div class="col-md-8 col-xs-6 form-control-static">{{pricelogmodel['cdate'] | date:'yyyy-MM-dd'}}</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 fieldsetdnn">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">审核人：</div>
        <div class="col-md-8 col-xs-6 form-control-static">{{pricelogmodel['vuser']['realname']}}</div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 fieldsetdnn">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">审核时间：</div>
        <div class="col-md-8 col-xs-6 form-control-static" style="white-space: inherit;">{{pricelogmodel['vdate']}}</div>
      </div>
    </div>
  </div>
  <div class="row " *ngIf="pricelogmodel['tiaojiadesc']">
    <div class=" col-lg-6 col-md-6 fieldsetdnn">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-xs-6 control-label form-control-static">调价描述：</div>
        <div class="col-lg-10 col-md-8 col-xs-6 form-control-static" style="white-space: inherit;">
          {{pricelogmodel['tiaojiadesc']}}
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class=" col-lg-6 col-md-6 fieldsetdnn">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-xs-6 control-label form-control-static">备注：</div>
        <div class="col-lg-10 col-md-8 col-xs-6 form-control-static" style="white-space: inherit;">
          <input type="text" class="form-control" [(ngModel)]="pricelogmodel['beizhu']" [disabled]="!edit" />
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 fieldsetdnn" *ngIf="isziyuanzhongxin">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static" style="color:red;">是否上架：</div>
        <div class="col-md-8 col-xs-6">
          <p-dropdown [ngClass]="{'isshelve': pricelogmodel['isshelve']}" [options]="isshelves" [(ngModel)]="pricelogmodel['isshelve']" [style]="{'width':'100%'}" [filter]="true"
            filterBy="label,value.name" [disabled]="!edit"></p-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- </form> -->
<!-- 根据不同条件展示不同的aggrid-->

<ag-grid-angular *ngIf="!isbiansi" [ngStyle]="{'height': (settings.bodyHeight - 380)+'px'}" #agGrid style="width: calc(100% + 40px);height:100%;margin:0 -20px;"
class="ag-blue" [gridOptions]="gridOptions">
</ag-grid-angular>

<ag-grid-angular *ngIf="isbiansi"  [ngStyle]="{'height': (settings.bodyHeight - 380)+'px'}" #agGrid style="width: calc(100% + 40px);height:100%;margin:0 -20px;"
  class="ag-blue" [gridOptions]="gridOptionsbiansi">
</ag-grid-angular>

<toaster-container></toaster-container>
