<div class="content-heading">
  <em class="fa fa-book"></em> 销售补差单
  <div class="pull-right">
    <button *ngIf="showflag['import']" type="button" (click)="typeShow()"
      class="btn btn-info btn-sm margin-top-bottom-25">类型</button>
    <button type="button" class="btn btn-info btn-sm margin-top-bottom-25">
      <a href="https://ossgm.oss-cn-hangzhou.aliyuncs.com/pub/gm/down/buchatemplate.xls" target="_blank" style="color:#ffffff;">模板下载</a>
    </button>
    <button *ngIf="xsbucha['status'] === 0" type="button" (click)="uploaddet()" class="btn btn-info btn-sm margin-top-bottom-25">导入待补差明细</button>
    <button *ngIf="showflag['import']" type="button" (click)="importDialog()"
      class="btn btn-info btn-sm margin-top-bottom-25">引入</button>
    <button *ngIf="showflag['import']" type="button" (click)="submit(xsbucha.id)"
      class="btn btn-info btn-sm margin-top-bottom-25">提交审核</button>
    <button *ngIf="showflag['import']" type="button" (click)="remove(xsbucha.id)"
      class="btn btn-sm margin-top-bottom-25" style="background-color:red;border-color:red;color:#ffffff;">删除</button>
    <!-- <button *ngIf="showflag['verify']" type="button" (click)="verify(xsbucha.id)"
      class="btn btn-info btn-sm margin-top-bottom-25">审核</button>
    <button *ngIf="showflag['verify']" type="button" (click)="refuseverify(xsbucha.id)"
      class="btn btn-info btn-sm margin-top-bottom-25">拒绝审核</button> -->
    <button *ngIf="showflag['qishen']" type="button" (click)="qishen(xsbucha.id)"
      class="btn btn-info btn-sm margin-top-bottom-25">弃审</button>
    <button *ngIf="showflag['import']" type="button" (click)="removeDet()"
      class="btn btn-sm margin-top-bottom-25" style="background-color:red;border-color:red;color:#ffffff;">批量删除明细</button>
  </div>
</div>


<div class="panel panel-default wis-auto">
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 form-control-static">补差单位:</div>
      <div class="col-md-8 col-xs-6 form-control-static">{{xsbucha['buyer'] | customer}}</div>
    </div>
  </div>
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">总重量:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['tweight']}}吨
      </div>
    </div>
  </div>
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">总金额:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['tjine'] | number:"1.2-2"}}元
      </div>
    </div>
  </div>
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">总件数:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['tcount']}}件
      </div>
    </div>
  </div>
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">补差单状态:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{status}}
      </div>
    </div>
  </div>
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">是否审核:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['isv']?'是':'否'}}
      </div>
    </div>
  </div>
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">审核人:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['vuser']?xsbucha['vuser'].realname:''}}
      </div>
    </div>
  </div>
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">审核时间:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['vdate']}}
      </div>
    </div>
  </div>
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">补差单编号:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['billno']}}
      </div>
    </div>
  </div>
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">制单人:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['cuser']?xsbucha['cuser']['realname']:''}}
      </div>
    </div>
  </div>
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">制单时间:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['cdate']}}
      </div>
    </div>
  </div>
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static"></div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['istidanlixi']?"延期利息":"普通"}}
      </div>
    </div>
  </div>
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">补差类型:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{category}}
      </div>
    </div>
  </div>
  <div *ngIf="xsbucha['category'] === 4" class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">赔付类型:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['compensation']?'正常赔付':'先行赔付'}}
      </div>
    </div>
  </div>
  <div *ngIf="xsbucha['category'] === 4" class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">质量异议单号:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['zhiliangyiyibillno']}}
      </div>
    </div>
  </div>
  <!-- <div *ngIf="xsbucha['category'] === 4" class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">质量异议类型:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['saletype']}}
      </div>
    </div>
  </div> -->
  <div *ngIf="xsbucha['category'] === 4" class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">质量异议说明:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['salebeizhu']}}
      </div>
    </div>
  </div>
  <div *ngIf="xsbucha['category'] === 4" class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">质量异议金额:</div>
      <div class="col-md-8 col-xs-6 form-control-static">
        {{xsbucha['salejine']}}
      </div>
    </div>
  </div>
  <div class=" col-lg-3 col-md-6 fieldsetdnn">
    <div class="row">
      <div class="col-md-4 col-xs-6 control-label form-control-static">备注:</div>
      <div class="col-md-8 col-xs-6 form-control-static" title="{{xsbucha['beizhu']}}">
        <input type="text" placeholder="请输入备注" [(ngModel)]="xsbucha['beizhu']" (blur)="modify()" class="form-control"
          [disabled]="!showflag['import']" />
      </div>
    </div>
  </div>
</div>


<ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 359)+'px'}" #agGrid class="ag-blue wis-auto"
  [gridOptions]="gridOptions">
</ag-grid-angular>


<toaster-container></toaster-container>



<!--  添加费用的弹窗 -->
<div class="modal" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">补差价格填写</h4>
      </div>
      <form [formGroup]="priceForm" class="form-validate mb-lg" role="form" name="loginForm" novalidate="">
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-group mb fieldsetdnn col-sm-12">
                <label class="col-sm-3 control-label">补差金额</label>
                <div class="col-sm-9">
                  <input type="number" formControlName="tprice" [(ngModel)]="sprice['tprice']" class="form-control"
                    placeholder="请输入要补差的金额" />
                  <span
                    *ngIf="priceForm.controls['tprice'].hasError('required') && (priceForm.controls['tprice'].dirty || priceForm.controls['tprice'].touched)"
                    class="text-danger">请填写补差的金额</span>
                  <span
                    *ngIf="priceForm.controls['tprice'].hasError('pattern') && (priceForm.controls['tprice'].dirty || priceForm.controls['tprice'].touched)"
                    class="text-danger">价格只能输入两位小数</span>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <div class="form-inline text-center">
            <div class="form-inline text-center">
              <button type="button" [disabled]="!priceForm['valid']" (click)="hideDialog()"
                class="btn btn-primary btn-large">确定</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- 欠款申请 -->
<div class="modal" bsModal #arrearspayDialog="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="arrearspayhide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">欠款申请</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">欠款金额：</label>
              <div class="col-sm-9">
                ￥{{overdraft['tjine']}}
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">还款日期：</label>
              <div class="col-sm-9 wiskind-calendar">
                <p-calendar [(ngModel)]="yedate" placeholder="还款日期" [minDate]="minDate"></p-calendar>
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">货物名称：</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="overdraft['goodsmsg']" />
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">欠款天数：</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" [(ngModel)]="overdraft['days']" />
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">欠款原因：</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="overdraft['reason']" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-inline text-center">
          <div class="form-inline text-center">
            <button type="button" (click)="submitapply()" class="btn btn-info btn-large">提交申请</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 上传提货明细 -->
<div class="modal" bsModal #parentModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="false">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">上传队列</h4>
      </div>
      <wisk-uploader [uploadParam]="uploadParam" [accept]="accept" (select)="uploads($event)"></wisk-uploader>

      <div class="form-inline">
      </div>
    </div>
  </div>
</div>

  <div class="modal" bsModal #addTypeModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="hideaddModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">添加</h4>
        </div>
        <div class="modal-body">
          <div class="form-group mb fieldsetdnn col-sm-12 col-md-12">
            <label class="col-sm-3 control-label">补差类型</label>
            <div class="col-sm-9">
              <p-dropdown [options]="addtype" [(ngModel)]="xsbucha['category']" [style]="{'width':'100%'}"></p-dropdown>
            </div>
          </div>
          <!-- <div *ngIf="xsbucha['category'] === 4" class="form-group mb fieldsetdnn col-sm-12 col-md-12">
            <label class="col-sm-3 control-label">赔付类型</label>
            <div class="col-sm-9">
              <label class="radio-inline c-radio">
                <input id="inlineradio1" type="radio" name="compensation-radio" value="1" [(ngModel)]="xsbucha['compensation']" />
                <span class="fa fa-circle"></span>正常赔付
              </label>
              <label class="radio-inline c-radio">
                <input id="inlineradio2" type="radio" name="compensation-radio" value="0" [(ngModel)]="xsbucha['compensation']" />
                <span class="fa fa-circle"></span>先行赔付
              </label>
            </div>
          </div> -->
          <div *ngIf="xsbucha['category'] === 4" class="form-group mb fieldsetdnn row">
            <label class="col-sm-3 control-label required">处理类型</label>
            <div class="col-sm-9">
              <p-dropdown [options]="saletypes" placeholder="选择处理类型" [(ngModel)]="xsbucha['saletype']"  [style]="{'width': '100%'}">
              </p-dropdown>
            </div>
          </div>
          <div *ngIf="xsbucha['category'] === 4" class="form-group mb fieldsetdnn col-sm-12 col-md-12">
            <label class="col-sm-3 control-label">说明</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="xsbucha['salebeizhu']" class="form-control" />
            </div>
          </div>
          <div *ngIf="xsbucha['category'] === 4" class="form-group mb fieldsetdnn col-sm-12 col-md-12">
            <label class="col-sm-3 control-label">赔付金额</label>
            <div class="col-sm-9">
              <input type="number" [(ngModel)]="xsbucha['salejine']" class="form-control" />
            </div>
          </div>
          <div class="form-inline text-center">
            <button *ngIf="xsbucha['category'] === 4" type="button" (click)="choice()" class="btn btn-primary btn-large">选择质量异议</button>
            <button *ngIf="xsbucha['category'] !== 4" type="button" (click)="addreason()" class="btn btn-primary btn-large">提交</button>
          </div>
        </div>
      </div>
    </div>
  </div>