<div class="button-toolbar clearfix mb">
  <div class="btn-group">
    <h4>
      <em class="fa fa-book"></em>期货订单变更明细</h4>
  </div>
  <div class="pull-right ml-lg">
    <button type="button" (click)="impqihuodialog()" class="btn btn-info btn-sm margin-top-bottom-25">引入明细
    </button>
    <button type="button" (click)="submitvuser()" class="btn btn-info btn-sm margin-top-bottom-25">提交审核
    </button>
    <button type="button" (click)="review()" class="btn btn-info btn-sm margin-top-bottom-25">审核
    </button>
  </div>
</div>

<div class="panel panel-default wis-auto">
  <div class="row fieldsetdnn">
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 form-control-static">变更单号:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{model['billno']}}
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 form-control-static">关联订单:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          <a target="_blank" [href]="'#/qihuo/'+model.orderid">{{model['orderbillno']}}</a>
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">创建人:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{model['cuser']['realname']}}
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">审核人:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{model['vuser']['realname']}}
        </div>
      </div>
    </div>
  </div>





  <div class="viewpanel">
    <p-tabView [style]="{'padding-top': '3px'}">

      <p-tabPanel header="变更前" [headerStyle]="{'background-color': '#fff', 'border-color': '#ccc',color: '#ddd'}">
        <ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 308)+'px'}" #agGridq
          style="width: calc(100% + 22px);height:100%;margin:0 -11px;margin-top:-5px;" class="ag-blue"
          [gridOptions]="beforegridOptions">
        </ag-grid-angular>
      </p-tabPanel>
      <p-tabPanel header="变更后" [headerStyle]="{'background-color': '#fff', 'border-color': '#ccc',color: '#ddd'}">
        <ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 308)+'px'}" #agGrid
          style="width: calc(100% + 22px);height:100%;margin:0 -11px;margin-top:-5px;" class="ag-blue"
          [gridOptions]="aftergridOptions">
        </ag-grid-angular>
      </p-tabPanel>

    </p-tabView>
  </div>
</div>
<toaster-container></toaster-container>
<!-- 修改物料编码弹出框 -->
<div class="modal" bsModal #gcmodify="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" aria-label="Close" (click)="closegcmodify()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">规格属性修改</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="form-group mb fieldsetdnn row">
              <label class="col-sm-3 control-label">
                <span style="float: right;">属性值：</span>
              </label>
              <div class="col-sm-9">
                <p-dropdown [options]="values" [(ngModel)]="newattrid" placeholder="选择要修改的值" [filter]="true"
                  [style]="{'width': '100%'}"></p-dropdown>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="form-inline text-center">
        <button type="button" (click)="modifygc()" class="btn btn-primary btn-large">修改</button>
      </div>
    </div>
  </div>
</div>
