<div class="content-heading">
  <em class="fa fa-list-alt">优惠券</em>
  <div class="pull-right">
      <button type="button" class="btn btn-info btn-bloc" (click)="selectall()">全选</button>
    <button type="button" class="btn btn-info btn-bloc" (click)="send()">发放</button>
    <button type="button" class="btn btn-info btn-bloc" (click)="showQuery()">查询发放客户</button>
  </div>
</div>
<div class="col-flex">
  <div class="panel panel-default wis-auto">
    <div class="col-lg-3 col-sm-6" *ngFor="let item of coupons;">
      <div class="row-flex youhuiquan">
        <div class="col-flex flex-weight youhuiquan-main">
          <span class="youhuiquan-qian">￥{{item.couponvalue}}</span>
          <span class="youhuiquan-content-top" *ngIf="item.type===0 && item.kind!==1 && item.kind!==2">仅可购买{{item.cangkuname}}</span>
          <span class="youhuiquan-content" *ngIf="item.type===0 && item.kind!==1 && item.kind!==2">{{item.chandi}}钢板</span>
          <span class="youhuiquan-content-top" *ngIf="item.kind===1 || item.kind===2"></span>
          <span class="youhuiquan-content" *ngIf="item.type===1 && (item.kind===1 || item.kind===2)">总价优惠</span>
          <span class="youhuiquan-content" *ngIf="item.type===0 && (item.kind===1 || item.kind===2)">单价优惠</span>
        </div>
        <div class="col-flex flex-aligns youhuiquan-aide">
          <span class="youhuiquan-status youhuiquan-in">券</span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default wis-auto">
    <div class="row fieldsetdnn">
      <label class="col-md-1 control-label">生效期日</label>
      <div class="col-md-3 wiskind-calendar">
        <p-calendar [(ngModel)]="start" placeholder="生效期日" [minDate]="startmax" (onSelect)="selectstart()"></p-calendar>
      </div>
      <label class="col-md-1 control-label">失效日期</label>
      <div class="col-md-3 wiskind-calendar">
        <p-calendar [(ngModel)]="end" placeholder="失效日期" [minDate]="endmax" (onSelect)="selectend()"></p-calendar>
      </div>
      <label class="col-sm-1 control-label">发放张数</label>
      <div class="col-sm-3">
        <input type="number" name="count" [(ngModel)]="coupon['count']" class="form-control">
      </div>
    </div>
  </div>
</div>

<ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 480)+'px'}" #agGrid style="width: calc(100% + 40px);height:100%;margin:0 -20px;"
  class="ag-blue" [gridOptions]="gridOptions">
</ag-grid-angular>
<div class="modal" bsModal #queryModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">查询客户</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <!-- <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">产地</label>
              <div class="col-sm-9">
                <ng-select [allowClear]="true" [items]="chandis" (selected)="selectechandi($event)" placeholder="请选择产地">
                </ng-select>
              </div>
            </div> -->
            <div class="row fieldsetdnn">
              <label class="col-md-2 control-label">品名</label>
              <div class="col-md-10">
                <input (click)="mdmgndialog.show()" [(ngModel)]="search['gn']" class="form-control" placeholder="请选择品名" readonly>
              </div>
            </div>
            <div class="row fieldsetdnn" >
              <label class="col-md-2 control-label">产地</label>
              <div class="col-md-10">
                <p-dropdown [options]="chandioptions" [disabled]="!search['gn']" [(ngModel)]="search['chandi']" [style]="{'width':'100%'}"></p-dropdown>
              </div>
            </div>
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">客户性质</label>
              <div class="col-sm-9">
                <p-dropdown [options]="usernatures" [(ngModel)]="search['usernature']" [style]="{'width':'calc(100%)'}" [placeholder]="'请选择客户性质'"></p-dropdown>
              </div>
            </div>
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">未下订单天数</label>
              <div class="col-sm-4">
                <input type="number" name="minday" [(ngModel)]="search['minday']" class="form-control" [placeholder]="'最小天数'">
              </div>
              <label class="col-sm-1 control-label">--</label>
              <div class="col-sm-4">
                <input type="number" name="maxday" [(ngModel)]="search['maxday']" class="form-control" [placeholder]="'最大天数'">
              </div>
            </div>
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">是否通知</label>
              <div class="col-sm-9">
                <p-checkbox name="groupname" value="1" [(ngModel)]="ismsgsend" label="是" (onChange)="a()"></p-checkbox>
              </div>
            </div>
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">是否自动发放新用户</label>
              <div class="col-sm-9">
                <p-checkbox name="groupname" value="1" label="否" (onChange)="b($event)"></p-checkbox>
              </div>
            </div>
          </div>
        </div>
        <div class="form-inline text-center">
          <button type="button" (click)="query()" class="btn btn-primary btn-large">查询</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 品名选择弹窗 -->
<div class="modal" bsModal #mdmgndialog="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" aria-label="Close" (click)="mdmgndialog.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">物料分类码表报表</h4>
      </div>
      <app-mdmselectgn (select)="selectgn($event)"></app-mdmselectgn>
    </div>
  </div>
</div>
<toaster-container></toaster-container>