<div class="content-heading">
  <em class="fa fa-list-alt"></em> 添加快递信息
  <div class="pull-right wide-show">
    <button type="button" (click)="queryDialog()" class="btn btn-info btn-bloc">查询</button>
    <button type="button" (click)="checkall()" class="btn btn-info btn-bloc">全选</button>
    <button type="button" (click)="addDialog()" class="btn btn-info btn-bloc">添加快递信息</button>
  </div>
  <div class="pull-right narrow-show">
    <div class="btn-group" dropdown placement="bottom right">
      <button dropdownToggle type="button" class="btn btn-info dropdown-toggle">菜单
        <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem">
          <a class="dropdown-item" (click)="queryDialog()">查询</a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="checkall()">全选</a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="addDialog()">添加快递信息</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 209)+'px'}" #agGrid style="width: calc(100% + 40px);height:100%;margin:0 -20px;"
  class="ag-blue" [gridOptions]="gridOptions">
</ag-grid-angular>

<toaster-container></toaster-container>

<!--查询弹窗-->
<div class="modal" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideclassicModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">查询</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">客户类型</label>
              <div class="col-sm-9">
                <p-radioButton name="groupname" value="1" [(ngModel)]="type['flag']" label="线下"></p-radioButton>
                <p-radioButton name="groupname" value="0" [(ngModel)]="type['flag']" label="线上"></p-radioButton>
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">买方单位</label>
              <div class="col-sm-9">
                <p-autoComplete [style]="{width:'100%'}" [(ngModel)]="customer" [suggestions]="results" (completeMethod)="findcustomer($event)"
                  field="name" placeholder="输入公司名称"></p-autoComplete>
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">卖方单位</label>
              <div class="col-sm-9">
                <p-dropdown [options]="sellers" [(ngModel)]="search['sellerid']" [style]="{'width':'100%','font-size':'15px'}"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="form-inline text-center">
          <button type="button" (click)="query()" class="btn btn-primary btn-large">查询</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--添加快递信息弹窗-->
<div class="modal" bsModal #addModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideaddModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">添加快递信息</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">快递单号</label>
              <div class="col-sm-9">
                <input type="text" [(ngModel)]="express['expressno']" class="form-control" placeholder="请输入快递单号" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-inline text-center">
          <button type="button" (click)="add()" class="btn btn-primary btn-large">添加</button>
        </div>
      </div>
    </div>
  </div>
</div>