<div class="content-heading">
  <em class="fa fa-list-alt"></em> 调拨时序表
  <div class="pull-right">
    <!-- <button type="button" class="btn btn-info btn-bloc" (click)="openclassicmodal()">查询</button> -->
    <!-- <button type="button" class="btn btn-info btn-bloc" (click)="openQueryDialog()">查询</button> -->
    <!-- <button type="button" (click)="agExport()"  class="btn btn-info btn-bloc">导出</button>  -->
  </div>
</div>

<ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 209)+'px'}" #agGrid style="width: calc(100% + 40px);height:100%;margin:0 -20px;"
  class="ag-blue" [gridOptions]="gridOptions">
</ag-grid-angular>

<toaster-container></toaster-container>
