<div class="content-heading">
  <em class="fa fa-book"></em> 欠款发货申请单详情
  <div class="pull-right">
    <button *ngIf="isfinance" type="button" (click)="modifyishand()" class="btn btn-info btn-sm margin-top-bottom-25">{{ishandtext}}</button>
    <button *ngIf="overdraft['ishandrepay']" type="button" (click)="huankuan()" class="btn btn-info btn-sm margin-top-bottom-25">还款</button>
    <button *ngIf="isfinance" type="button" (click)="verifyhuankuan()" class="btn btn-info btn-sm margin-top-bottom-25">审核还款</button>
    <button *ngIf="overdraft['ishandrepay']" type="button" (click)="modifyhuankuan()" class="btn btn-info btn-sm margin-top-bottom-25">修改还款金额</button>
  </div>
</div>

<div class="panel panel-default wis-auto" style="overflow:'auto'">
  <div class="row fieldsetdnn">
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">编号:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{overdraft['billno']}}
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 form-control-static">欠款单位:</div>
        <div class="col-md-8 col-xs-6 form-control-static">{{overdraft['customer'] | customer}}</div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 form-control-static">卖方单位:</div>
        <div class="col-md-8 col-xs-6 form-control-static">{{overdraft['wcustomer'] | customer}}</div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">申请人:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{overdraft['cuser']['realname']}}
        </div>
      </div>
    </div>
  </div>
  <div class="row fieldsetdnn">
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">业务员:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{overdraft['salemanname']}}
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 form-control-static">欠款金额:</div>
        <div class="col-md-8 col-xs-6 form-control-static">{{overdraft['tjine'] | number:"1.2-2"}}</div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">已还金额:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{overdraft['yijine'] | number:"1.2-2"}}
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">未还金额:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{overdraft['weijine'] | number:"1.2-2"}}
        </div>
      </div>
    </div>
  </div>
  <div class="row fieldsetdnn">
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">待还金额:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{overdraft['hjine']}}
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 form-control-static">创建日期:</div>
        <div class="col-md-8 col-xs-6 form-control-static">{{overdraft['cdate']}}</div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">审核日期:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{overdraft['vdate']}}
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">预计还款日期:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{overdraft['yedate']}}
        </div>
      </div>
    </div>
  </div>
  <div class="row fieldsetdnn">
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">实际还款日期:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{overdraft['sedate']}}
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">品名:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{overdraft['goodsmsg']}}
        </div>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 ">
      <div class="row">
        <div class="col-md-4 col-xs-6 control-label form-control-static">产品类别:</div>
        <div class="col-md-8 col-xs-6 form-control-static">
          {{gntype}}
        </div>
      </div>
    </div>
  </div>
  <div class="row fieldsetdnn">
    <div class=" col-lg-12 col-md-12 ">
      <div class="row">
        <div class="col-md-2 col-xs-6 control-label form-control-static">欠款原因：</div>
        <div class="col-md-10 col-xs-6 form-control-static wrap">
          {{overdraft['reason']}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default wis-auto" style="margin-top:20px;">
  <div class="row fieldsetdnn" style="font-weight:bold;">跟踪记录</div>
  <div class="row fieldsetdnn" *ngFor="let item of list; let i = index;">
    <div class=" form-control-static" style="word-wrap: break-word;">
      {{i + 1}}、{{item.user.realname}}--{{item.cdate}}：{{item.log}}</div>
  </div>
</div>
<!-- 还款对话框 -->
<div class="modal" bsModal #huankuanModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">还款</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">还款金额</label>
              <div class="col-sm-9">
                <input type="number" [(ngModel)]="search['hjine']" class="form-control" placeholder="请输入还款金额" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-inline text-center">
          <button type="button" (click)="confirm()" class="btn btn-primary btn-large">确认还款</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 修改还款对话框 -->
<div class="modal" bsModal #modifyModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hidemodifyModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">修改还款</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">原还款金额</label>
              <div class="col-sm-9">
                <input type="number" [(ngModel)]="modify['yhjine']" class="form-control" placeholder="请输入原来的还款金额" />
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">现还款金额</label>
              <div class="col-sm-9">
                <input type="number" [(ngModel)]="modify['hjine']" class="form-control" placeholder="请输入还款金额" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-inline text-center">
          <button type="button" (click)="confirmmodify()" class="btn btn-primary btn-large">确认还款</button>
        </div>
      </div>
    </div>
  </div>
</div>
<toaster-container></toaster-container>