.ui-widget{
    width: 100%;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    width: 100%;
}
.panel.panel-default{
    border-top-width:1px;
}

.wid100{
    width: 600px;
}

.content-heading{
    margin-bottom: 0px;
}
.fieldsetdnn {
    padding-bottom: 5px;
    border-bottom: 1px dashed #eee;
    padding-top: 5px;
  }