<div class="content-heading">
  <em class="fa fa-list-alt">产品质检反馈表</em>
  <div class="pull-right">
    <button class="btn btn-info btn-bloc" type="button" (click)="openquery()">查询</button>
    <button class="btn btn-info btn-bloc" type="button" (click)="excelUploader(1)">上传明细</button>
    <button type="button" class="btn btn-info btn-sm margin-top-bottom-25">
      <a href="https://ossgm.oss-cn-hangzhou.aliyuncs.com/pub/gm/down/%E4%BA%A7%E5%93%81%E8%B4%A8%E6%A3%80%E5%8F%8D%E9%A6%88%E8%A1%A8%E6%80%BB%E8%A1%A8.xls" target="_blank"
        style="color:#ffffff;">产品质检反馈表明细模板</a>
    </button>
    <button class="btn btn-info btn-bloc" type="button" (click)="deleteDetail()">删除</button>
  </div>
</div>
<ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 209)+'px'}" #agGrid
  style="width: calc(100% + 40px);height:100%;margin:0 -20px;" class="ag-blue" [gridOptions]="gridOptions">
</ag-grid-angular>
<!--查询对话框-->
<div class="modal" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">查询</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">生产开始日期</label>
              <div class="col-sm-9">
                <p-calendar [(ngModel)]="start" placeholder="开始日期" [maxDate]="startmax" ></p-calendar>
              </div>
            </div>
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">生产结束日期</label>
              <div class="col-sm-9">
                <p-calendar [(ngModel)]="end" placeholder="开始日期" [maxDate]="startmax" ></p-calendar>
              </div>
            </div>
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">产地省份</label>
              <div class="col-sm-9">
                <p-dropdown [options]="chandiprovinces" [(ngModel)]="search['provincecode']" [style]="{'width':'100%'}"></p-dropdown>
              </div>
            </div>
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">合同号</label>
              <div class="col-sm-9">
                <input type="text" name="factorygrno" [(ngModel)]="search['factorygrno']" class="form-control">
              </div>
            </div>
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">洁彩卷号</label>
              <div class="col-sm-9">
                <input type="text" name="kunbaohao" [(ngModel)]="search['kunbaohao']" class="form-control">
              </div>
            </div>
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">等级</label>
              <div class="col-sm-9">
                <p-dropdown [options]="levels" [(ngModel)]="search['level']" [style]="{'width':'100%'}"></p-dropdown>
              </div>
            </div>
           
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">仓库</label>
              <div class="col-sm-9">
                <p-dropdown [options]="cangkus" [(ngModel)]="search['cangkuid']" [style]="{'width':'100%'}"
                [filter]="true" filterBy="label,value.name"></p-dropdown>
              </div>
            </div>
            <div class="row fieldsetdnn">
              <label class="col-sm-3 control-label">标签</label>
              <div class="col-sm-9">
                <p-dropdown [options]="labels" [(ngModel)]="search['label']" [style]="{'width':'100%'}"></p-dropdown>
              </div>
            </div>
        
          </div>
          <div class="form-bottom text-center">
            <button type="button"  class="btn btn-info btn-large" (click)="selectnull()">重选</button>
            <button type="button" class="btn btn-primary btn-large" (click)="query()">查询</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--上传表格匹配资源号-->
<div class="modal" bsModal #uploaderModel="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="false">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">上传队列</h4>
      </div>
      <div *ngIf = "uploadtype === 1">
        <wisk-uploader [uploadParam]="uploadParam" [accept]="accept" (select)="uploadProductzhijian($event)"></wisk-uploader>
      </div>
      <div class="form-inline">
      </div>
    </div>
  </div>
</div>
<!-- 修改质检反馈表明细 -->
<div class="modal" bsModal #detailmodify="bs-modal" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" aria-label="Close" (click)="closedetailmodify()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">修改明细</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-body">
              
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">产地省份：</span>
                  </label>
                  <div class="col-sm-9">
                    <p-dropdown [options]="chandiprovinces" [(ngModel)]="productzhijian['provincecode']" [style]="{'width':'100%'}"></p-dropdown>
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">产地工厂代码：</span>
                  </label>
                  <div class="col-sm-9">
                    <p-dropdown [options]="factorycodes" [(ngModel)]="productzhijian['factorycode']" [style]="{'width':'100%'}"></p-dropdown>
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">合同号：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="factorygrno" [(ngModel)]="productzhijian['factorygrno']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">基板种类：</span>
                  </label>
                  <div class="col-sm-9">
                    <p-dropdown [options]="jibans" [(ngModel)]="productzhijian['jiban']" [style]="{'width':'100%'}"></p-dropdown>
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">资源号：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="grno" [(ngModel)]="productzhijian['grno']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">工厂卷号：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="factorykunbaohao" [(ngModel)]="productzhijian['factorykunbaohao']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">工厂卷重：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="factoryweight" [(ngModel)]="productzhijian['factoryweight']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">工厂卷长度：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="factorylength" [(ngModel)]="productzhijian['factorylength']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">生产序号：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="productionno" [(ngModel)]="productzhijian['productionno']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">洁彩卷号：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="kunbaohao" [(ngModel)]="productzhijian['kunbaohao']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">规格：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="guige" [(ngModel)]="productzhijian['guige']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">涂料公司：</span>
                  </label>
                  <div class="col-sm-9">
                    <p-dropdown [options]="tuliaogongsis" [(ngModel)]="productzhijian['tuliaogongsi']" [style]="{'width':'100%'}"></p-dropdown>
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">颜色代码：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="colorcode" [(ngModel)]="productzhijian['colorcode']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">颜色中文名称：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="colorname" [(ngModel)]="productzhijian['colorname']" class="form-control">
                  </div>
                </div>
                <div  class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">实际厚度：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="actualhoudu" [(ngModel)]="productzhijian['actualhoudu']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">实际宽度：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="actualwidth" [(ngModel)]="productzhijian['actualwidth']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">重量：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="weight" [(ngModel)]="productzhijian['weight']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">长度：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="length" [(ngModel)]="productzhijian['length']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">等级：</span>
                  </label>
                  <div class="col-sm-9">
                    <p-dropdown [options]="levels" [(ngModel)]="productzhijian['level']" [style]="{'width':'100%'}"></p-dropdown>
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">特殊事项：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="specialmatter" [(ngModel)]="productzhijian['specialmatter']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">边浪：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="bianlang" [(ngModel)]="productzhijian['bianlang']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">镀层两面：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="ducengboth" [(ngModel)]="productzhijian['ducengboth']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">镀层上面：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="ducengtop" [(ngModel)]="productzhijian['ducengtop']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">镀层下面：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="ducengbot" [(ngModel)]="productzhijian['ducengbot']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">屈服：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="yp" [(ngModel)]="productzhijian['yp']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">抗拉：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="ts" [(ngModel)]="productzhijian['ts']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">伸长率：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="el" [(ngModel)]="productzhijian['el']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">涂层正面厚度：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="tucenghoudutop" [(ngModel)]="productzhijian['tucenghoudutop']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">涂层背面厚度：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="tucenghoudubot" [(ngModel)]="productzhijian['tucenghoudubot']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">涂层光泽：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="tucengguangze" [(ngModel)]="productzhijian['tucengguangze']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">涂层色差：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="secha" [(ngModel)]="productzhijian['secha']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">涂层弯曲：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="tucengwanqu" [(ngModel)]="productzhijian['tucengwanqu']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">涂层铅笔硬度：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="pencilyingdu" [(ngModel)]="productzhijian['pencilyingdu']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">涂层反向冲击：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="impact" [(ngModel)]="productzhijian['impact']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">涂层MEK：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="mek" [(ngModel)]="productzhijian['mek']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">反复折弯：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="zhewan" [(ngModel)]="productzhijian['zhewan']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">包装：</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="baozhuang" [(ngModel)]="productzhijian['baozhuang']" class="form-control">
                  </div>
                </div>
                <div class="form-group mb fieldsetdnn row col-md-6">
                  <label class="col-sm-3 control-label">
                    <span style="float: right;">标签：</span>
                  </label>
                  <div class="col-sm-9">
                    <p-dropdown [options]="labels" [(ngModel)]="productzhijian['label']" [style]="{'width':'100%'}"></p-dropdown>
                  </div>
                </div>
         
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-inline text-center">
           
            <button type="button"  class="btn btn-primary btn-large" (click)="modifydetail()">修改</button>
           
          </div>
        </div>
      </div>
    </div>
  </div>

<toaster-container></toaster-container>

