<div class="content-heading">
  <em class="fa fa-list-alt"></em> 采购补差时序表
  <div class="pull-right">
    <button type="button" class="btn btn-info btn-bloc" (click)="showDialog()">查询</button>
    <button type="button" class="btn btn-info btn-bloc" (click)="createDialog()">新建采购补差单</button>
  </div>
</div>

<div class="panel panel-default" *ngIf="cgbuchaData">
  <table class="table table-striped" [mfData]="cgbuchaData" #mf="mfDataTable" [mfRowsOnPage]="10">
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td class="row" style="width:100%;">
          <div class=" col-lg-3 col-md-4 col-sm-6 form-control-static">
            <label>编号:</label>
            <a [routerLink]="['/xmdcgbucha', item.id]">{{item.billno}}</a>
          </div>
          <div class=" col-lg-3 col-md-4 col-sm-6 form-control-static">
            <label>供应商:</label> {{item['supplier'] | customer}}
          </div>
          <div class=" col-lg-3 col-md-4 col-sm-6 form-control-static">
            <label>业务员:</label> {{item | agentuser}}
          </div>
          <div class=" col-lg-2 col-md-3 col-sm-6 form-control-static">
            <label>类型:</label> {{item | cgbuchatype}}
          </div>
          <div class=" col-lg-3 col-md-4 col-sm-6 form-control-static">
            <label>创建时间:</label> {{item.cdate | date:'yyyy-MM-dd HH:mm:ss'}}
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 form-control-static">
            <label>件数:</label> {{item.tcount}}
          </div>
          <div class=" col-lg-3 col-md-4 col-sm-6 form-control-static">
            <label>总重量:</label> {{item.tweight}}
          </div>
          <div class=" col-lg-3 col-md-4 col-sm-6 form-control-static">
            <label>状态:</label> {{item.statusname}}
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="totalItems>search['pagesize']">
      <tr>
        <td colspan="10">
          <pagination class="pagination-md" [totalItems]="totalItems" [maxSize]="7" [(ngModel)]="currentPage"
            [rotate]="true" previousText="上一页" nextText="下一页" firstText="首页" lastText="尾页" [boundaryLinks]="true"
            [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
          <!-- <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator> -->
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!--  查询采购补差的弹窗 -->
<div class="modal" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">查询</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">补差单类型</label>
              <div class="col-sm-9">
                <label class="radio-inline c-radio">
                  <input id="inlineradio1" type="radio" name="bctype" value="0" [(ngModel)]="search['type']" />
                  <span class="fa fa-circle"></span>采购退款</label>
                <label class="radio-inline c-radio">
                  <input id="inlineradio2" type="radio" name="bctype" value="1" [(ngModel)]="search['type']" />
                  <span class="fa fa-circle"></span>价格调整</label>
                <label class="radio-inline c-radio">
                  <input id="inlineradio2" type="radio" name="bctype" value="2" [(ngModel)]="search['type']" />
                  <span class="fa fa-circle"></span>外购承兑贴息</label>
                <label class="radio-inline c-radio">
                  <input id="inlineradio2" type="radio" name="bctype" value="3" [(ngModel)]="search['type']" />
                  <span class="fa fa-circle"></span>年底应到未到返利</label>
                <label class="radio-inline c-radio">
                  <input id="inlineradio2" type="radio" name="bctype" value="4" [(ngModel)]="search['type']" />
                  <span class="fa fa-circle"></span>自办承兑贴息</label>
                <label class="radio-inline c-radio">
                  <input id="inlineradio2" type="radio" name="bctype" value="6" [(ngModel)]="search['type']" />
                  <span class="fa fa-circle"></span>跨月结算价格调整</label>
                <label class="radio-inline c-radio">
                  <input id="inlineradio2" type="radio" name="bctype" value="7" [(ngModel)]="search['type']" />
                  <span class="fa fa-circle"></span>超支借款利息</label>
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">补差单编号</label>
              <div class="col-sm-9">
                <input type="text" name="addr" [(ngModel)]="search['billno']" placeholder="请输入补差单编号"
                  class="form-control">
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">供应商</label>
              <div class="col-sm-9">
                <wisk-xmdsuppliersearch [(company)]="search['supplierid']"></wisk-xmdsuppliersearch>
              </div>
            </div>
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">采购公司</label>
              <div class="col-sm-9">
                <p-dropdown [options]="companyIsWiskind" [(ngModel)]="search['buyerid']"
                  placeholder="选择采购单位" [style]="{'width': '100%'}">
                </p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-inline text-center">
          <div class="form-inline text-center">
            <button type="button" (click)="selectNull()" class="btn btn-info btn-large">重选</button>
            <button type="button" (click)="query()" class="btn btn-primary btn-large">查询</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--新建采购补差弹出对话框-->
<div class="modal" bsModal #createModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" aria-label="Close" (click)="closecreateDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">新建采购补差单</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">补差单类型</label>
              <div class="col-sm-9">
                <ng-select [allowClear]="true" [items]="types" (selected)="selectetype($event)" placeholder="请选择补差单类型">
                </ng-select>
              </div>
            </div>
            <!--<div class="form-group mb fieldsetdnn col-sm-12" *ngIf="showtype">
              <label class="col-sm-3 control-label">退款类型</label>
              <div class="col-sm-9">
                <ng-select  [allowClear]="true" [items]="type1s" (selected)="selectetype1($event)" placeholder="请选择退款类型">
                </ng-select>
              </div>
            </div>-->
            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">供应商</label>
              <div class="col-sm-9">
                <!-- <wisk-customersearch [(customer)]="create['supplierid']" placeholder="请输入供应商"></wisk-customersearch> -->
                <wisk-xmdsuppliersearch [(company)]="create['supplierid']"></wisk-xmdsuppliersearch>
              </div>
            </div>

            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">采购公司</label>
              <div class="col-sm-9">
                <p-dropdown [options]="companyIsWiskind" [(ngModel)]="create['buyerid']"
                  placeholder="选择采购单位" [style]="{'width': '100%'}">
                </p-dropdown>
              </div>
            </div>

            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">补差机构</label>
              <div class="col-sm-9">
                <p-dropdown [options]="orgtypes" [(ngModel)]="create['orgid']" [style]="{'width':'100%'}"></p-dropdown>
              </div>
            </div>

            <div class="form-group mb fieldsetdnn col-sm-12">
              <label class="col-sm-3 control-label">备注</label>
              <div class="col-sm-9">
                <input type="text" name="beizhu" [(ngModel)]="create['beizhu']" class="form-control">
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="form-inline text-center">
          <div class="form-inline text-center">
            <button type="button" (click)="createbucha()" class="btn btn-primary btn-large">新建</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<toaster-container></toaster-container>
