<div class="content-heading">
  <em class="fa fa-list-alt"></em> 库存核对汇总表
  <div class="pull-right">
    <button type="button" class="btn btn-info btn-bloc" (click)="showDialog()">查询</button>
    <button type="button" class="btn btn-info btn-bloc" (click)="submitverify()">提交审核</button>
  </div>
</div>

<ag-grid-angular [ngStyle]="{'height': (settings.bodyHeight - 229)+'px'}" #agGrid  style="width: calc(100% + 40px);height:100%;margin:0 -20px;" class="ag-blue" [gridOptions]="gridOptions">
</ag-grid-angular>


<!--查询相关-->
<div class="modal" bsModal #classicModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">查询</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-body">
          <div class="row fieldsetdnn">
            <label class="col-sm-3 control-label">开始日期</label>
            <div class="col-sm-9">
              <p-calendar [(ngModel)]="start" placeholder="开始日期" [maxDate]="startmax" (onSelect)="selectstart()"></p-calendar>
            </div>
          </div>
          <div class="row fieldsetdnn">
            <label class="col-sm-3 control-label">结束日期</label>
            <div class="col-sm-9">
              <p-calendar [(ngModel)]="end" placeholder="结束日期" [maxDate]="endmax" (onSelect)="selectstart()"></p-calendar>
            </div>
          </div>
          
          <div class="row fieldsetdnn">
            <label class="col-sm-3 control-label">仓库</label>
            <div class="col-sm-9">
              <p-dropdown [options]="ckitems" [(ngModel)]="search['cangkuid']" [style]="{'width':'100%'}"
                [filter]="true" filterBy="label,value.name"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-inline text-center">
          <div class="form-inline text-center">
            <button type="button" (click)="query()" class="btn btn-primary btn-large">查询</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<toaster-container ></toaster-container>
